{% extends 'basic.html' %}
{% block contents %}

<style>
								 table {
								  border-collapse: collapse;
								  border-spacing: 2;
								  width: 100%;
								  border: 1px solid #ddd;
								 }

								th, td {
								  text-align: center;
								  padding: 12px;
								 }

								tr:nth-child(even){background-color: #f2f2f2}


								</style>

<div class="container-fluid">

<br>
<table border="1" class="container-fluid" >
								<tr><h2><p align="center" class="text-info"><b><font color="blue" >
                                    Welcome &nbsp;&nbsp;&nbsp;&nbsp;
								<br>
								Customers Valuable Feedbacks<br></font color></b></p></h2></tr>
								<tr>
                                    <th>Booking id</th></th>
                                    <th>
                                    Provider id</th>
                                    <th>Customer Experience</th>
                                    <th>Customer Valuable Words</th></tr>


			    				<tr>
									<td>BID000035</td>
									<td>PID00035</td>
									<td></td>
				                    <td></td>
								</tr>

							</table>

 </div>
 {% endblock %}